body{
    padding: 100px;
    background-image:url(pixel-art-pixelated-pixels-digital-art-space-hd-wallpaper-preview.jpg);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 120vw 120vh;
    overflow: hidden;
}

ul {
    margin-left: -45px;
}

li{
    list-style: none;
    display: inline-block;
}

.main{
    width: 350px;
    height: 400px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 45px;
    border: 1px solid #eeeeee;
}

.img{
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    border: 1px solid #eaeaea;
    margin-top: -400px ;
    margin-left: auto;
    margin-right: auto;
}

.img1{
    background-image: url(WhatsApp\ Image\ 2023-09-15\ at\ 10.49.32.jpg);
}

.img2{
    background-image: url(WhatsApp\ Image\ 2023-09-15\ at\ 12.20.15.jpg);
}

.img3{
    background-image: url(WhatsApp\ Image\ 2023-09-15\ at\ 12.46.09.jpg);
}

.img4{
    background-image: url(WhatsApp\ Image\ 2023-09-15\ at\ 13.20.42.jpg);
}

h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: black;
}

.text{
    text-align: center;
    font-size: 15px;
    margin: 20px 70px;
    color: black;
    width: 300px;
}

.page_warp{
    display: flex; 
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    height: 500px;
    margin: 0 0;
    scroll-snap-type: x mandatory;
}

.page_warp::-webkit-scrollbar{
    display: none;
}

.warp{
    scroll-snap-align: center;
    margin: 0 -20px;
}
